registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN}
# 隔离依赖，解决某些工具找不到依赖的问题
node-linker=isolated
# 允许依赖提升到根目录，解决某些工具找不到依赖的问题
shamefully-hoist=false
link-workspace-packages=false
# 是否严格校验 peer 依赖
strict-peer-dependencies=true